Đôrêmon dài - Tập 3 - Pho tượng thần khổng lồ.kepub.epub
Đôrêmon dài - Tập 4 - Lâu đài dưới đáy biển.kepub.epub
Đôrêmon dài - Tập 5 - Nôbita lạc vào xứ quỷ.kepub.epub
Đôrêmon dài - Tập 7 - Cuộc xâm lăng của binh đoàn Rôbôt.kepub.epub